*,
*::before,
*::after {
  box-sizing: border-box;
}


@font-face {
    font-family: ba;
    src: url(../../assets/SuisseIntl-Light.ttf);
  }

.marguee {
    padding: 10vw 3vw;
    
span:nth-last-child(5) img {
    scale: 0.7;
}

  
span:nth-last-child(3) img {
    scale: 1.4;
}   

span:nth-child(6) {
    scale: 1.4;
}

span:nth-child(1) {
    scale: 1.4;
}

   .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7vw;
   }

   .line {
    border-top: 1px solid  rgb(119, 118, 118);
    margin-top: 10vw;
   }

   .text-apart {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;

    h1 {
        font-size: 1.7rem;
        font-family: 'ba';
        font-weight: lighter;
    }
   }


    span {
        width: 8vw;

        img {
            width: 100%;
            height: 180px;
            background-size: auto;
        }
    }
}