/* Apply border-box to all elements for consistent box-sizing */
// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

@font-face {
    font-family: nb;
    src: url(../../assets/SuisseIntl-Light.ttf);
}

/* Basic styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.7vw 3.4vw ;
  font-family: "nb";

  .navbar-logo {
    color: white;
    font-size: 24px;
  }

  .navbar-menu {
    display: flex;
    gap: 20px;

    a {
      color: white;
      text-decoration: none;
      font-size: 18px;
    }
  }

  .navbar-toggle {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }
  .talk {
    color: white;
  }

  /* Media query for smaller screens */
  @media screen and (max-width: 768px) {
    .navbar-menu {
      display: none;
      flex-direction: column;
      gap: 10px;
      background-color: #333;
      position: absolute;
      top: 50px;
      right: 20px;
      padding: 10px;

      &.open {
        display: flex;
      }
    }

    .navbar-toggle {
      display: block;
    }

    .talk {
        display: none;
    }
  }
}
