@font-face {
    font-family: nb;
    src: url(../../assets/SuisseIntl-Reg.ttf);
}


.outer-pad {
    padding: 4vw 3vw;

    .video {
        max-width: 100vw;
        margin-top: 7vw;
        video {
            width: 100%;
            object-fit: cover;
        }
    }

    h1 {
        font-family: 'nb';
        font-family: 100;
        font-size: 3.9vw;
    }

    .a1 {
        display: flex;
        gap: 25vw;

        .text {
            min-width: 20vw;
        }

        .a1-approach {
            max-width: 20vw;
        }

        h1 {
            font-family: 'nb';
            font-weight: 100;
            font-size: 1.8rem;
        }
    }

    .a2 {
        margin: 7vw 0 0 0;
        padding: 2vw 0;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
    }

    .a3 {
        padding: 2vw 0;
    }
}